body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-family: "Nunito", sans-serif;
}


h1{
  font-size: calc(1.475rem + 2.7vw) !important;
  font-family: "PT Serif", serif;
  font-weight: bold !important;
}

h2 {
  font-family: "PT Serif", serif;
  font-size: 2rem;
}


h4{
  font-family: "PT Serif", serif;
}

h5{
  font-family: "PT Serif", serif;
}